#main-content {
    font-family: 'Roboto', sans-serif ;
    padding-top: 75px;
}

#navbar {
    font-family: 'Nunito', sans-serif;
}

body{
    background: white;
}

#drop-logo {
    height: 250px;
    position: absolute;
    right: 0;
    bottom: 0;
}

#drop-logo img{
    height: 100%;
}

#sidenav {
    border-right: 1px solid rgba(200,200,200,.15);
    position: fixed;
}

.list-group-item.active{
    background-color: #343a40;
    border-color: #343a40;
}

.hide {
    display: none;
}

#home-product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
}

#products-page-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
}